.onboarding-container {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 20px;
    color: #333;
  }

  app-table-renderer {
    flex: 1;
    display: block;
    min-height: 0;
  }
}
