// CDK drag and drop specific styles that can't be done with Tailwind
.column-item {
  &.cdk-drag-preview {
    @apply shadow-xl rounded-md bg-white px-3 py-2.5 border-2 border-blue-500;
  }

  &.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.cdk-drag-placeholder {
  @apply opacity-0 bg-blue-50 border-2 border-dashed border-blue-500 rounded-md;
}

.column-list.cdk-drop-list-dragging .column-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column-list.cdk-drop-list-receiving {
  @apply bg-blue-50 border-blue-500;
}
